.main-grid
{
    display: grid;
    grid-template-columns: 70% 30% ;
    grid-template-rows: auto auto auto;
    gap: 15px;
    margin-top: 30px;

}
.about-me-card
{
     grid-column: 1;
    grid-row: 1;
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin-top: 0;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: #14161a;
    padding-top: 10px;
}
.tech-stack-card
{
    grid-column: 1;
    grid-row: 2;
    border: 1px solid rgba(255, 255, 255, 0.08);

    padding: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    border-radius: 10px;
    color: white;
    background-color: #14161a;
}
.experience-card
{
    grid-column: 2;
    grid-row: 1 / 3;
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    border-radius: 10px;
    color: white;
    background-color:  #14161a;
}
.connect-card
{
    grid-column: 1;
    grid-row: 3;
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    border-radius: 10px;
    color: white;
    background-color:  #14161a;
}
.social-links-container
{
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding:7px 16px 7px 16px;
    background-color: #14161a;
    transition: background-color 0.15s, box-shadow 0.15s;
    cursor: pointer;
    
}
 .experience-card li{
    margin-top: 20px;
    
}
@media (max-width: 768px) {

  .main-grid {
    grid-template-columns: 1fr; /* single column */
    grid-template-rows: auto;
  }

  .about-me-card,
  .tech-stack-card,
  .experience-card,
  .connect-card {
    grid-column: 1;
    grid-row: auto;
  }

}
